<h1>Welcome to my Blog post<h1>

<h1>Listing posts</h1>

    <% @posts.each do |post| %>
      <p>
        <%= link_to post.title, post %>
      </p>
    <% end %>
<br>

<%= link_to 'New Post', new_post_path %>
