<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.title %></strong>
</p>

<p>
  <p><%= @post.text %></p>
</p>
<p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', posts_path %>
</p>  


